:root {
  --primary-color: rgba(255, 255, 255, 1);
  --secondary-color: rgba(255, 255, 255, 0.605);
  --tertiary-color: rgba(0, 255, 136, 1);
  --navList-color: rgba(255, 255, 255, 0.905);
  --primary-bg: rgba(26, 11, 46, 1);
  --secondary-bg: rgba(35, 14, 61, 1);
  --tertiary-bg: rgba(53, 17, 101, 0.4);
}

html {
  font-size: 10px;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
  background: var(--primary-bg);
}

.primary-btn {
  background: linear-gradient(
    45deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  min-width: 13.5rem;
  min-height: 4.4rem;
  padding: 1.2rem 1.6rem;
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-style: Semi Bold;
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
  cursor: pointer;
}
.secondary-btn {
  background: none;
  border: 1px solid var(--tertiary-color);
  min-width: 13.5rem;
  min-height: 4.4rem;
  padding: 1.2rem 1.6rem;
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-style: Semi Bold;
  font-size: 16px;
  font-weight: 600;
  color: var(--tertiary-color);
  cursor: pointer;
}

.primary-text {
  text-align: center;
  color: var(--primary-color);
  font-style: Bold;
  font-size: 4.8rem;
  font-weight: 700;
}

.secondary-text {
  color: var(--secondary-color);
  font-style: Regular;
  font-size: 1.6rem;
  font-weight: 400;
}

.tertiary-text {
  color: var(--primary-color);
  font-style: Bold;
  font-size: 2.4rem;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--navList-color);
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 8rem 0;
}

/* NavBar Design */
nav {
  display: flex;
  justify-content: space-between;
  margin: 2rem 10rem;
}

nav > img {
  max-width: 22rem;
  max-height: 3.2rem;
  cursor: pointer;
}

nav ul {
  list-style: none;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  gap: 2rem;
}

.hamburger{
  display: none;
}

/* Hero section design */
#hero {
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 76rem;
  margin: 0 auto;
  padding: 2rem 0;
}

.hero-img {
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 35rem;
  position: relative;
  width: fit-content;
  margin: 8rem auto 0;
}

#microphone {
  
  max-width: 100%;
  position: absolute;
  z-index: 2;
    animation: beat 2s linear infinite;
}

#hero-circle{
  max-width: 100%;
  animation: circle 1.5s linear infinite;
}
.hero-img > p {
  font-style: Semi Bold;
  font-size: 1.8rem;
  font-weight: 600;
  background-color: var(--tertiary-color);
  padding: 0.8rem 1.6rem;
  border-radius: 100rem;
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}

.hero-content {
  width: max-content;
  margin: 4rem auto 10rem;
  text-align: center;
}

.hero-header {
  color: var(--primary-color);
  font-style: Extra Bold;
  font-size: 6rem;
  font-weight: 800;
  margin-bottom: 0;
}

.hero-btn {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

/* About section desgin */
#about {
  text-align: center;
  margin: 0 10rem;
}

#review {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-content: space-around;
  align-items: center;
}

#review h2 {
  color: var(--tertiary-color);
  font-size: 4.8rem;
  font-weight: 900;
  margin-bottom: 0;
}

/* Choose why section design */
#choose {
  margin: 20rem 0;
  padding: 20rem 10rem;
  background-color: var(--secondary-bg);
}
#choose h2 {
  text-align: center;
}

#reasons {
  display: grid;
  grid-template-areas:
    "a b b"
    "a c c"
    "d d e";
  gap: 1.5rem;
}

#reasons div {
  background-color: var(--tertiary-bg);
  border-radius: 4rem;
  padding: 4rem;
}

#box-1 {
  grid-area: a;
}
#box-1 > img {
  margin-top: 20%;
}
#box-2 {
  grid-area: b;
}
#box-3 {
  grid-area: c;
}
#box-4 {
  grid-area: d;
}
#box-5 {
  grid-area: e;
}

/* episodes section design */
#episodes {
  margin: 0 10rem;
}
#episodes-card {
  display: flex;
  gap: 2rem;
  margin: 5rem 0 10rem;
}

.card {
  width: 100%;
  background-color: var(--tertiary-bg);
  border-radius: 2.4rem;
  margin-bottom: 0;
}

iframe {
  width: 100%;
  height: 25rem;
  border-top-right-radius: 2.4rem;
  border-top-left-radius: 2.4rem;
}

.card-content {
  padding: 1rem 2rem;
}

.time {
  font-style: Semi Bold;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--tertiary-color);
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Host section design */
#host {
  margin: 20rem 10rem 0;
}
.host-box {
  background-color: var(--tertiary-bg);
  padding: 5rem 5rem;
  border-radius: 4rem;
  display: flex;
  gap: 3rem;
  align-items: center;
  text-align: left;
}
.host-box h1 {
  color: var(--primary-color);
  font-style: Bold;
  font-size: 3.2rem;
  font-weight: 700;
}

.host-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: start;
}

.host-icon {
  border: 1px solid rgba(83, 60, 114, 1);
  border-radius: 50%;
  padding: 1rem;
}

.host-icon img {
  width: 2rem;
  height: 2rem;
}

/* Footer design */
footer {
  margin-top: 15rem;
  background-image: url(./assets/footer-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

#footer-logo{
  max-width: auto;
  height: auto;
}

.footer-icon {
  display: flex;
  gap: 4rem;
  align-items: center;
}
.footer-icon div {
  display: flex;
  gap: 1rem;
  align-items: center;
}
footer p {
  color: var(--primary-color);
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
}
.footer-icon img {
  width: 2.4rem;
  height: 2.4rem;
}

/* Animations */
@keyframes circle {
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
  
}

@keyframes beat {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.4);
  }
  100%{
    transform: scale(1);
  }
  
}

button:hover{
  transform: scale(1.2);
}

button{
  transition: transform 1s ease-in-out;
}


/* Mobile responsive */
@media screen and (max-width: 576px){
  .primary-text{
    font-size: 3.2rem;
  }
  /* navBar */
  nav{
    margin: 2rem 2.5rem;
  }
  nav ul{
    display: none;
  }
  .nav-btn{
   display: none;
  }
  .hamburger{
    display: block;
  }
  nav > img {
  max-width: 15rem;
  max-height: 3.2rem;
}

/* Hero */
#hero {
  background-size: contain;
  min-height: 100%;
}
.hero-header{
  font-size: 4rem;
}

.hero-content {
  width: auto;
  margin: 1rem 1rem 5rem;
  text-align: center;
}
.hero-btn {
  gap: 1rem;
}

#microphone {
max-width: 8rem;
}

#hero-circle{
  max-width: 25rem;
}

.hero-img {
  min-height: 100%;
  margin: 0 auto;
}

/* About */
#about {
  margin: 5rem 2.5rem;
}

#review {
  grid-template-columns: repeat(2,1fr);
}

/* Choose */
#choose{
  margin: 0;
  padding: 5rem 2.5rem;
}
#reasons{
  grid-template-areas: 
  "a"
  "b"
  "c"
  "d"
  "e"
  ;
}
#box-1 > img {
  margin-top: 0;
}

/* Episodes */
#episodes {
  margin: 8rem 2.5rem;
}
#episodes-card {
  display: block;
}
.card{
  margin-bottom: 4rem;
}

/* host */
#host {
  margin: 10rem 2.5rem 0;
}
.host-box {
display: block;
text-align: center;
}
.host-box h1 {
  font-size: 2.4rem;
}
.host-icons {
  justify-content: center;
}
.host-icon img {
  width: 1rem;
  height: 1rem;
}

/* Footer */
footer {
  margin-top: 10rem;
  gap: 2rem;
  padding: 5rem 0;
}

#footer-logo{
  max-width: 20rem;
  height: auto;
}
.footer-icon {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
}

}
